.app-header h1{
  background: #2196f3;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    text-align: center;
}
.posts-actions {
  text-align: right;
  margin: 1em;
}
.post-list-item, .response-list-item {
  box-shadow: 1px 1px 4px #989898;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}
.field p {
  color: #454545;
}
.field p:first-child {
  font-weight: 500;
  font-size: 1.2em;
}
.field p:last-child {
  font-size: .8em;
  color: #989898;
}
.field a, button {
  text-decoration: none;
  border: 1px solid #2196f3;
  padding: 5px;
  border-radius: 5px;
  color: #2196f3;
}
.field a:hover, button:hover {
  background: #2196f3;
  color: #FEFEFE;
}

button{
  background: #FFF;
  font-size: 1.2em;
  margin: 5px;
}
button:hover {
  cursor: pointer;
}

form {
  text-align: center;
  border: 1px solid #a2a2a2;
  margin: 1em;
  padding: 1em;
}
form input {
  display: block;
  width: 100%;
  line-height: 25px;
  height: 75px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: justify;
  color: #757575;
  font-size: 20px;
}
form input:focus{
  border:1px solid #2196f3;
  border-radius: 5px;
  outline: none;
}
.app-body{
  width: 80vw;
  margin: auto;
  min-height: 75.4vh;
}
.app-footer{
  background: #646464;
  text-align: center;
  color: #EFEFEF;
  line-height: 80px;
}